body {
  margin: 0;
  font-family:
    "Ubuntu",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ebf8fa;
  line-height: 1.35em;
  color: #011c21;
}

h1,
h2 {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
  cursor: default;
  letter-spacing: 0.02em;
}

h1 {
  font-size: 2.5em;
}

h3 {
  font-family: "IBM Plex Sans", system-ui;
  font-weight: 500;
  font-style: normal;
  cursor: default;
  letter-spacing: 0.02em;
}

/* li {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
} */

a {
  color: #083941;
  text-underline-offset: 4px;
  cursor: default;

  &:hover {
    color: #346269;
  }
}

button {
  background-color: transparent;
  border: none;
  font-family: "IBM Plex Sans", serif;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #011c21;

  &:hover {
    color: #346269;
  }
}

div,
span {
  /* font-family: "Montserrat", sans-serif; */
  font-family: "IBM Plex Sans", serif;
  font-style: normal;
  cursor: default;
  letter-spacing: 0.02em;
}

@media print {
  img {
    max-width: 100%;
    height: auto;
  }
}
