.header {
  margin-top: 0;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.moreInfo {
  display: flex;
  align-items: center;
  gap: 2px;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 32px;
}
